<h1>Adulting Card Game</h1>
<% if user_signed_in? %>
  <p>This webapp has these features:</p>
  <ul>
    <li>An up to date <%= link_to 'Rulebook', '/rulebook' %></li>
    <li>User authentication</li>
  </ul>
  <p>This webapp will have these features:</p>
  <ul>
    <li>A list of current cards</li>
    <li>A form to create cards</li>
    <li>An ability to edit cards you have created</li>
    <li>A way to comment on cards</li>
    <li>An interface for admins to edit the rulebook</li>
    <li>Better flash messages</li>
  </ul>
<% else %>
  <p>Hey there! <%= link_to "Login", new_user_session_path %> or <%= link_to "Create An Account", new_user_registration_path %> like an adult.</p>
<% end %>

