<h1>Adulting Card Game</h1>
<p>Adulting is the card game about adultness.</p>
<p>This webapp is for the development of this game. The webapp will have these features:</p>
<ul>
  <li>User authentication</li>
  <li>Card crud</li>
  <li>Rulebook crud</li>
</ul>


