<h1 class="page-header">Editing Rulebook</h1>

<p>This page is written in markdown, checkout the documentation <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">here</a></p>

<%= render 'form', rulebook: @rulebook %>

<%= link_to 'Show', @rulebook %> |
<%= link_to 'Back', rulebooks_path %>
